* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.home {
    display: flex;
    background-color: #E5E5E5;
}

.left__side {
    display: flex;
}

.right__side {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.right__down {
    display: flex;
    gap: 30px;
    margin: 30px;
    margin-bottom: 0;
}

.btn {
    width: 160px;
    height: 42px;
    color: white;
    background-color: #109CF1;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover {
    background-color: #34AFF9;
}

.btn:active {
    background-color: #098EDF;
    transform: translateY(1px);
}

img {
    object-fit: contain;
    border-radius: 50%;
}